.sprite-1 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -0px -0px;
 }
 .sprite-2 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -128px -0px;
 }
 .sprite-3 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -256px -0px;
 }
 .sprite-4 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -0px -128px;
 }
 .sprite-5 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -128px -128px;
 }
 .sprite-6 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -256px -128px;
 }
 .sprite-7 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -0px -256px;
 }
 .sprite-8 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -128px -256px;
 }
 .sprite-9 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -256px -256px;
 }
 .sprite-10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 128px;
     width: 128px;
     background-position: -0px -384px;
 }
 